.homepage {
  margin: 2rem 3rem;
}

.homepage-p {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  margin-bottom: 5rem;
}

.homepage-algo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media screen and (max-width: 640px) {
  .homepage-p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3rem;
  }
}